@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: #202124;
}


nav{
    height: 100px;
    line-height: 100px;
}

nav .logo{
    font-size: 45px;
    font-weight: 900;
    color: #eef7ff;
    font-family: 'Poppins', sans-serif;
    float: left;
    padding: 0 200px;
}

nav #check{
    display: none;
}

nav .fa-bars{
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

nav ul{
    display: flex;
    float: right;
    column-gap: 60px;
    padding: 0 200px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    font-size: 20px;
    color: #eef7ff;
    text-decoration: none;
    display: flex;
}

.container{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.container .main{
    width: 100%;
    height: 100vh;
}

.container .all_main{
    justify-content: space-between;
    display: flex;
    background-color: #eef7ff;
    width: 100%;
    height: 60vh;
}

.iamge{
    width: 100%;
    margin-left: 200px;
    margin-top: 50px;
}

img{
    width: 600px;
    border-radius: 5px;
}

.caption{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 75px;
}

.caption .tital {
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.caption .all{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.caption button{
    padding: 15px 40px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f1a03c;
    color: #eef7ff;
    margin-top: 30px;
}

.sub_box{
    width: 100%;
    height: 50vh;
    background: #eef7ff;
    align-items: center;
    justify-content: center;
    display: flex;
}

.box{
    display: flex;
}
.sub{
    width: 400px;
    height: 300px;
    background: #DADBDD;
    margin: 0 50px;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}
.skill{
    width: 100%;
    height: 50vh;
    background: #F2F3F4;
    padding:  0 20px;
}

.tital_html{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #202124;
}

.boxs{
    width: 500px;
    height: 50px;
    background: #ff5733;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    font-weight: 700;
    border-radius: 0px 10px  10px 0px;
    margin-top: 20px;
}

.tital_css{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #202124;
    margin-top: 20px;
}

.boxs_css{
    width: 400px;
    height: 50px;
    background: #2980B9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    font-weight: 700;
    border-radius: 0px 10px  10px 0px;
    margin-top: 20px;
}

.tital_js{
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #202124;
    margin-top: 20px;
}

.boxs_js{
    width: 300px;
    height: 50px;
    background: #ffc300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 0 20px;
    font-weight: 700;
    border-radius: 0px 10px  10px 0px;
    margin-top: 20px;
}
.footer{
    width: 100%;
    height: 20vh;
    background: #164d7d;;
}

.footer .icon{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 20vh;
}

.footer .foot{
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 25px;
    color: #ffde39;
    font-family: 'Poppins', sans-serif;
}

.copy{
    font-size: 20px;
    color: #eef7ff;
}

.right{
    font-size: 15px;
    color: #eef7ff;
}
.to-top{
    background: rgb(245, 229, 229);
    position: fixed;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 30px;
}














@media only screen and (max-width: 500px) and (min-width: 400px){
    nav .logo{
        padding: 0 50px;
        font-size: 40px;
    }
    nav .fa-bars{
        display: block;
        margin-right: 50px;
        padding: 10px 25px;
        background: #eb0826;
        font-size: 25px;
        margin-top: 30px;
        color: #eef7ff;
    }
    nav ul{
        display: none;
    }
    nav ul{
        width: 100%;
        height: 100vh;
        background: #224564;
        display: block;
        position: absolute;
        left: -100%;
        transition: all 0.98s;
        margin-top: 100px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .container{
        width: 100%;
        height: 100vh;
        background: #202124;
    }
    .container .all_main{
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
    .iamge{
        width: 100%;
        text-align: center;
        margin: 0px 0px;
        margin-top: 50px;
    }
    img{
        width: 400px;
    }
    .caption{
        width: 100%;
        height: 100vh;
    }
    .caption .tital{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .caption .all{
        margin-left: 50px;
        font-size: 14px;
    }
    .caption button{
        margin-left: 50px;
        padding: 5px 40px;
    }
    .sub_box{
        width: 100%;
        height: auto;
    }
    .box{
        flex-direction: column;
    }
    .sub{
        width: 350px;
        height: 300px;
        margin: 30px 0;
    }
    .skill{
        width: 100%;
        height: 50vh;
        background: #F2F3F4;
        padding:  0 20px;
    }
    
    .tital_html{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
    }
    
    .boxs{
        width: 350px;
        height: 50px;
        background: #ff5733;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    
    .tital_css{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
        margin-top: 20px;
    }
    
    .boxs_css{
        width: 400px;
        height: 50px;
        background: #2980B9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    
    .tital_js{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
        margin-top: 20px;
    }
    
    .boxs_js{
        width: 300px;
        height: 50px;
        background: #ffc300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    .skill{
        width: 100%;
        height: 50vh;
        background: #F2F3F4;
        padding:  0 20px;
    }
    
    .tital_html{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
    }
    
    .boxs{
        width: 500px;
        height: 50px;
        background: #ff5733;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    
    .tital_css{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
        margin-top: 20px;
    }
    
    .boxs_css{
        width: 400px;
        height: 50px;
        background: #2980B9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    
    .tital_js{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        color: #202124;
        margin-top: 20px;
    }
    
    .boxs_js{
        width: 300px;
        height: 50px;
        background: #ffc300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        padding: 0 20px;
        font-weight: 700;
        border-radius: 0px 10px  10px 0px;
        margin-top: 20px;
    }
    .footer{
        width: 100%;
        height: 20vh;
        background: #164d7d;;
    }
    
    .footer .icon{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        height: 20vh;
    }
    
    .footer .foot{
        width: 500px;
        height: 100px;
        text-align: center;
        font-size: 20px;
        color: #ffde39;
        font-family: 'Poppins', sans-serif;
    }
    
    .copy{
        font-size: 14px;
        color: #eef7ff;
    }
    
    .right{
        font-size: 12px;
        color: #eef7ff;
    }
    .to-top{
    background: rgb(245, 229, 229);
    position: fixed;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 30px;
}
}
